#user_infor_tabs_content, #security_content, #info_content{
    min-height: 60vh;
}

.dc-chart g.row text {
    fill: black;
}

#application_edit_modal_attr, #application_edit_modal_iamge, #application_match_tenants_modal {
    top: 5%;
}

/* application Table */
#dc_application_table .bootstrap-select.form-control-cus .dropdown-toggle {
    padding: .0rem .0rem;
    min-width: 60px !important;
}

#dc_application_table .dropdown.bootstrap-select button{
    background-color: #6C757D;
    color: white;
    border-radius: .1rem;
}


/* infor tab */
#licence_number_radio{
    margin-left: 10px;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
/* Tenat detail colse tab */
.nav-tabs > li .close {
    margin: -1px 0 0 10px;
    font-size: 18px;
}

.carousel-item img{
    margin: 0 auto;
}
#application_match_tenants_modal .carousel-control-prev, #application_match_tenants_modal .carousel-control-next {
    filter: invert(100%);
}