html {
    position: relative;
    min-height: 100%;
}

/* Margin bottom by footer height */

body {
    min-height: 75vh !important;    
    margin-bottom: 131px; 
}

.container {
    /* min-width: 960px !important; */
}
.word-wrap{word-wrap: break-word;}
.pointer-none {
    pointer-events: none;
    cursor: not-allowed;
}

button:disabled {
    cursor: not-allowed;
}

.all-scroll {
    cursor: all-scroll;
}

.padding_30 {
    padding: 30px;
}

/* Vertival line */

.v_line_on_right {
    border-right: 3px solid lightgray;
    height: 100%;
}

/* horizontal line */

.h_line_on_top {
    border-top: 3px solid lightgray;
}

/* nav  */

nav.navbar {
    z-index: 10000;
}

nav.navbar a {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* nav welcome message */

div#nav_wel_message span {
    margin: auto;
    color: white;
}

#login_status a {
    padding-left: 10px;
}

/* login nav button */

#login_status a {
    color: white;
    background-color: darkgray;
}

#login_status a:hover {
    background-color: gray;
}

/* body container */

div.container.body_container {
    margin-top: 70px;
}

.cursor_pointer {
    cursor: pointer;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 50px 0px 30px 0px !important;
    max-height: 131px;    
}

footer a, footer p {
    color: white;
}

footer a:hover {
    color: gray;
}

.bootstrap-select .dropdown-menu.inner.show a.dropdown-item.selected.active{
    background-color: #6c757d !important;
}


/* // Position radios and checkboxes more better */
input[type="radio"], input[type="checkbox"] {
	margin-top: ((@line-height-base - 1)/2) * 1em;
	/* width: 1em; */
	height: 1em;
}

.btn-group-xs>.btn, .btn-cus {
    padding: .4rem .3rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .1rem;
}

/* Dropdown menu cus */
.dropdown-menu.dropdown-menu-cus{
    font-size: 0.9rem;
    padding: 0;
    min-width: 0; 
    padding: 0;
}
.dropdown-menu.dropdown-menu-cus a.dropdown-item:hover{
    background-color: gray;
    color: white;
}

.dropdown-menu.dropdown-menu-cus .dropdown-divider{
    margin: 1px;
}

.input-group-addon
{
    background-color:#FFF;
}


/* Money input with $ sign */
.money_input_div:before {
    content: '$';
    position: absolute;
    left: 20px;
    top: 7px;
    z-index: 1;
}

.money_input_div input{
     padding-left: 20px;
}