#login_register_tabs_content {
    margin-top: 50px;
}

#login_register_tabs {
    padding-right: 0px;
}

.limiter {
    padding-top: 50px;
}

.wrap-login100 {
    width: 590px;
}

.alert-validate::before {
    z-index: 1000;
}
div.verify_code_div.alert-validate::after {
    right: -4%;
}
.modal .alert-validate::after {
    right: 1%;
}
.verify_noti_text {
	position: absolute;
	top: -270%;
    padding: 5px;
    color: black;
}