.dropzone .dz-preview .dz-error-message {
    top: 150px!important;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}

.dz-preview input{
    width: 120px;
}
/* Drop zone override */
.dropzone .dz-preview .dz-progress{
    top: 40%;
}