.house_attr_icon {
    max-height: 25px;
}

.flex-caption {
    /* width: 96%; */
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
}

#pro_img_tabs {
    padding-right: 0px;
}

.flexslider {
    margin: 0px 0px 0px 0px;
}

.flexslider.original, .pro_imgs {
    width: 100%;
}

.flexslider.original img, .pro_imgs {
    width: 100%;
    height: 400px;
}

.flexslider.carousel.thumb_img img {
    height: 100px;
}

.img_panoramas_noti {
	position: absolute;
	top: 50%;
	margin-left: 150px;
	background: gray;
	padding: 5px;
}
.img_panoramas_thumb{
	max-width:100%; 
	height:auto !important;
}

#photosphere {
    width: 100%;
    height: 50vh;
}

hr.essential_info_hr {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#google_map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}