.flexslider.thumb_img {
    /*     width: 100%; */
    height: 170px;
}


@media (min-width: 1000px) {
    .search_result_property img.thumb_img {
        max-width: 260px;
        height: 170px;
    }
}

@media (max-width: 1000px) {
    .search_result_property img.thumb_img {
        height: 200px;
    }
}

.flex-caption {
    /* width: 96%; */
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
}

.search_result_property {
    transition: box-shadow .3s;
}

.search_result_property:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

#search_type_tabs {
    padding-right: 0px;
}

.basic_options {
    padding-top: 40px;
}

.selectpicker-pading .selectpicker-pading-div{
    margin-left: -15px !important;
}

.regin-select .dropdown.bootstrap-select, .city-select .dropdown.bootstrap-select{
    width: 100% !important;
}


.pets-select .dropdown.bootstrap-select, .avai-select .dropdown.bootstrap-select{
    width: 100% !important;
}
.multiselect-container{
    width: 100%;
}
.house_attr_icon {
    max-height: 20px;
}

.slider.slider-horizontal {
    width: 100%;
}

.bootstrap-select .dropdown-menu.inner.show a.dropdown-item.selected.active{
    background-color: #6c757d !important;
}

.multiselect-container.dropdown-menu label{
    width: 100%;
}