.home_slider_header{
	height: 70vh;
}

.carousel-item {
	height: 70vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-item div {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

#carouselExampleIndicators {
	z-index: 1;
}

.overlay_centered {
	z-index: 1000;
	position: absolute;
	top: 12%;
	/* left: 50%; */
	transform: translate(10%, 0);
}

@media only screen and (orientation: landscape) {
  .overlay_centered {
		top: 4%;
	}
}

@media screen and (min-width: 1000px) {
  .overlay_centered {
		top: 12%;
	}
}

.home_overlay_text {
	color: white;
}

header.home_slider_header {
	margin-top: 55px;
}

#search_result li {
	padding-left: 30px;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}

#search_result li:hover {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.search_section #search_result {
	padding: 0px;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2000;
	display: block;
	width: 2.375rem;
	height: 100%;
	line-height: 3rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
	right: 1%;
}